@import "utils";

.body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, $cell-size);
  grid-gap: 1px;
  counter-reset: days;

  div {
    height: $cell-size;
    position: relative;

    &:before {
      font: {
        family: "Arial", sans-serif;
        size: 30px;
      }
      transition: {
        duration: $cell-hover-duration;
        property: background-color, transform;
      }
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 1px solid #000;
      background-color: $c-gray;
      counter-increment: days;
      content: counter(days);
    }

    &:hover:before {
      background-color: $c-pink;
      transform: translateY($cell-hover-rise);
    }

  }
}

@include month-length();

@include first-day();
